@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
/*This is for all the pages*/
header{
    background-color: red;
    text-align: center;
    color: white;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:white;
    max-height: 1000px;
    height: 600px;
}
h1{
    font-size: 28pt;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom:0px;
}
h2{
    font-size: 20pt;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
/*End of all pages*/

/*This deals with all the buttons, labels, inputs*/
button{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14pt;
    margin: 4px 2px;
    cursor: pointer;
}
.Form {
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    font-size: 25px;
}
.forms{
    text-align: center;
    margin: auto;
    position: relative;
    background-color: rgb(253, 94, 94);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    box-shadow: 0px 0px 4px 0 black;
    border-radius: 4px;
    height: 50%;
}
form.login-form{
    max-height: 500px;
    min-width: 1000px;
}
label{
    border: 0;
    font-size: 24px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 4px;
}
input{
    min-height: 50px;
    min-width: 50px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 8px;
}
/*End of buttons, labels, inputs*/

/*This deals with the navigation bar*/
.topnav{
    background-color: black;
    overflow: hidden;
}

.topnav a{
    float: left;
    display: block;
    flex-direction: column;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover{
    background-color: grey;
}
.topnav .icon{
    display: none;
}

/*End of navigation bar*/

/* This is for the homepage */
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 170, 170);
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 16px;
    box-shadow: 0px 0px 4px 0 black;
    border-radius: 4px;
    width: 75%;
}
.homepage .tech-deals {
    display: flex;
    justify-content: center;
    width: 50%;
}

.homepage .pics {
    display: flex;
    justify-content: center;
}

img.home{
    height: 30%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

h3{
    font-size: 20pt;
    background-color: white;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 16px;
    box-shadow: 0px 0px 4px 0 black;
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
}
/* End of homepage */


/*This deals with the Catalog*/

div.addremove {
    display: block;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
}
.catalog {
    float: left;
    max-height: 500px;
    overflow: scroll;
    width: 45%;
    margin-right: 5%;
}

.checkout {
    float: right;
    width: 45%;
    max-height:500px;
    overflow: scroll;
}

.container {
    display: flex; 
    width: 100%;
}

button.buttonS {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px 24px;
    text-align: center;
    display: block;
    justify-content: center;
    font-size: 15pt;
    margin-left: 42%;
    cursor: pointer;
    max-width: 8%;
}

input[type = checkbox]{
    transform: scale(.75);
}
#TAB{
    font-size: 40px;
}

table{
    border-collapse: collapse;
    text-align: center;
}
th{
    flex: auto;
    font-size: 22pt;
    width: 100px;
    border-bottom: thin solid #CCCCCC
}

td{
    align-items: center;
    flex: auto;
    border-bottom: thin solid #CCCCCC
}

tr {
    flex: auto;
    border-bottom: thin solid #CCCCCC
}
img.displaypic{
    flex: auto;
    max-width: 150px;
    margin-right: 10px;
}
td.data{
    font-size: 20pt;
}
.phoneview {
    display: none;
}
.desktopview{
    font-size:16pt;
}
.proceedtc{
    color: red;
    font-size: 20pt;
    margin-right: 7%;
}
/*end of table css*/

/* Desktop/tablet */
@media screen and (min-width: 600px)
{
    td{
        font-size:20pt;
    }
    .catalog {
        float: left;
    }
    .checkout {
        margin-left: 30px;
    }
}
  
/* Phone*/
/* navbar responsiveness referenced from https://www.w3schools.com/css/css_navbar.asp */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        font-size: 12pt;
    }
    button.buttonS {
        max-width: 20%;
        margin-left: 37%;
    }
    .Form {
        margin-left: 30%;
    }
    div.container{
        justify-content: center;
    }
    div.catalog{
        width: 200px;
        height: 100%;
        display: block;
    }
    div.checkout{
        height: 100%;
        float: right;
    }
    .forms{
        height: 100%;
    }
    img.displaypic{
        max-width:50%;
    }
    h3{
        font-size: 16pt;
    }
    /*
    This deals with the responsive view of the table
    referenced from https://css-tricks.com/responsive-data-tables/
    */
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	p {
        margin: 0px;
        font-size: 12pt;
    }
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
	}
	.checkhead{
        display: none;
    }
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Item"; }
    td:nth-of-type(2):before { content: "Description"; }
    td:nth-of-type(3):before { content: "Price"; }
    td:nth-of-type(4):before { content: "Add to Cart"; }
}
